*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 600px;
	height: 600px;
	text-align: center;
}
div{
	display: inline-block;
}
div:nth-child(2n+1){
	background-color: #850000;
	height: 200px;
	width: 200px;
}
div:nth-child(2n){
	background-color: #fff;
	height: 200px;
	width: 200px;
}
.left{
	float: left;
} 
}
.right{
	float: right;
} 