*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
}
.wrapper{
	width: 600px;
	height: 600px;
	text-align: center;
}
.left{
	float: left;
}
.right{
	float: right;
} 
div:nth-child(2n+1){
	background-color: #850000;
}
div:nth-child(2n){
	background-color: #fff;
}
div{
	height: 200px;
	width: 200px;
	display: inline-block;
}

