*{
	margin: 0;
	padding: 0;
}
.flex-container{
	width: 600px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
}
.flex-container div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
}
.flex-container div:nth-child(odd){
	background-color: #850000;
}